.head {
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 50px;
  width: 100px;
  height: 30px;
  margin-left: 1350px;
  padding-left: 25px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  border: solid 3px black;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgb(5, 21, 63);
  z-index: 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.div-blur {
  width: 100%;
  height: 100%;
  position: relative;
}

.span-head:hover {
  background-color: #3e4d6d;
  padding: 5px 10px;
  transition: 1s;
  -webkit-transition: 0.3s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: 100%;
}

.div-to {
  position: absolute;
}

.booklium {
  width: 1100px;
  height: 700px;
  margin-top: -540px;
  margin-left: 170px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.div-unnamed {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.unnamed {
  width: 400px;
  height: 550px;
  margin-top: -550px;
  margin-left: 1000px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.label-in {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: -180px;
  margin-left: 1040px;
  font-size: 20px;
}

.input-in {
  background-color: rgb(255, 255, 255);
  margin-top: -180px;
  margin-left: 1130px;
  position: absolute;
  border: solid 3px rgb(239, 239, 163);
}

.label-on {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: -100px;
  margin-left: 1040px;
  font-size: 20px;
}

.input-on {
  background-color: rgb(255, 255, 255);
  margin-top: -100px;
  margin-left: 1130px;
  position: absolute;
  border: solid 3px rgb(239, 239, 163);
}

.div-blur2 {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 170px;
}

.div-black {
  background-color: rgba(0, 0, 0, 0.7);
  height: 550px;
  width: 1000px;
  position: absolute;
  margin-top: -600px;
  margin-left: 230px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 10px;
}

.form {
  width: 250px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -350px;
  margin-left: 250px;
  color: gray;
  padding-left: 10px;
}

.to {
  width: 250px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -374px;
  margin-left: 530px;
  color: gray;
  padding-left: 10px;
}

.departing {
  width: 150px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -310px;
  margin-left: 250px;
  color: gray;
  padding-left: 10px;
}

.returning {
  width: 150px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -335px;
  margin-left: 420px;
  color: gray;
  padding-left: 10px;
}

.room {
  width: 30px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -360px;
  margin-left: 590px;
  color: rgb(13, 10, 10);
  padding-left: 10px;
}

.adults {
  width: 45px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -384px;
  margin-left: 640px;
  color: rgb(13, 10, 10);
  padding-left: 10px;
}

.child {
  width: 55px;
  height: 40px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -407px;
  margin-left: 713px;
  color: rgb(13, 10, 10);
  padding-left: 10px;
}

.coach {
  width: 150px;
  height: 33px;
  background-color: #fcfeff;
  position: absolute;
  margin-top: -308px;
  margin-left: 400px;
  color: rgb(13, 10, 10);
  padding-left: 10px;
}

.search {
  width: 70px;
  height: 70px;
  background-color: #ef0054;
  position: absolute;
  margin-top: -360px;
  margin-left: 870px;
  color: rgb(255, 255, 255);
  padding-left: 5px;
  border-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-top: -5px;
}

.end {
  width: 100%;
  min-height: 100vh;
  margin-top: -250px;
  background-color: rgb(164, 193, 254);
}

.div-end {
  width: 100%;
  height: 250px;
  background-color: #86abff;
  box-shadow: 200px;
}

.span-book {
  position: absolute;
  margin-top: -200px;
  margin-left: 20px;
}

.span-from {
  position: absolute;
  margin-top: -180px;
  margin-left: 20px;
}

.du {
  position: absolute;
  width: 500px;
  height: 200px;
  margin-top: -450px;
  margin-left: 150px;
}

.is {
  position: absolute;
  margin-left: 800px;
  margin-top: -450px;
  height: 200px;
  width: 500px;
}

.ca {
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: -200px;
  margin-left: 50px;
}

.lo {
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: -200px;
  margin-left: 530px;
}

.pa {
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: -200px;
  margin-left: 1000px;
}

/*# sourceMappingURL=meta.css.map */
